{% extends 'base.html.j2' %}

{% block main %}
<h1>All done!</h1>
<p>
  All the magic has happened, you should see in your Spotify a new playlist called <em>"Discover Weekly Albums"</em>
  which should contain all the Albums part of your <em>Discover Weekly</em> playlist. <br>
  If this doesn't appear, even after restarting Spotify app, please contact me at the following email:
  <a href="mailto:swa@esolitos.com">swa@esolitos.com</a>.
</p>
{% endblock %}