{% extends 'base.html.j2' %}

{% block main %}
<h1>Welcome!</h1>

<p>
    <strong>Spotify's "Weekly Discover", now with... Albums!</strong>
</p>
<p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam.<br>
    ToDo: Write some info here and create a special page for more info.
</p>
<p>
    <a class="btn btn-lg btn-primary btn-block" href="/login">Login</a>
</p>
{% endblock %}