{% extends 'base.html.j2' %}

{% block main %}
<h1>Welcome!</h1>

<p>
    <strong>Spotify's "Weekly Discover", now with... Albums!</strong>
</p>
<p>
    This App does exactly what is says above: it creates (and updates) a playlist containing
    entire albums of each song present in your current Spotify's <em>Discover Weekly</em> playlist.
</p>
<p>
    More music tailored for you, for more discovery.<br>
    Enjoy!

</p>
<p>
    <a class="btn btn-lg btn-primary btn-block" href="/login">Login</a>
</p>
{% endblock %}