{% extends 'base.html.j2' %}

{% block main %}
<form class="form-signin" method="post">
  <h1>Sign in with Spotify</h1>
  {#
  TODO: Handle error keys!
  {% if message_key %}
    <pre>{{ message_key }}</pre>
  {% endif %}
  #}
  <p>
    You need to sign in to allow us updating your playlists.<br>
    An explaination of the permissions can be found <a href="/page/permissions">here</a>.
  </p>
  <div class="form-group text-left">
    <input type="email" required id="edit-email" name="email" placeholder="Your e-mail address" value="{{ email }}" class="form-control">
    <small class="form-text text-muted">This <strong>does not</strong> need to be the same as your Spotify account.</small>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Go to Spotify</button>
</form>
{% endblock %}